<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo navbar-links">
      <a href="/">Home</a>
    </div>
    <% if (locals.user) { %>
    <!-- Check if user is logged in -->
    <div class="navbar-links">
      <button id="post-message-toggle-btn" type="button">Post</button>
    </div>

    <div class="navbar-links">
      <button type="button">Update Membership</button>
    </div>

    <div class="navbar-links">
      <a href="/logout">Logout</a>
    </div>
    <% } else { %>
    <!-- If user is not logged in -->
    <div class="navbar-links">
      <a href="/login">Login</a>
    </div>

    <div class="navbar-links">
      <a href="/signup">Sign Up</a>
    </div>
    <% } %>
  </div>
</nav>
